@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/swiper/dist/css/swiper";

$theme-colors: (
    "turquoise": #45C2B1,
    "blue": #0069A7,
    "gray": #4A4F54,
);
$font-primary: 'Montserrat', sans-serif;
$font-heading: 'Tinos', serif;
$nav-font: 'Nunito', sans-serif;
$transition: 0.2s linear;
//@import "animations";
//@import "forms";
h1, h2, h3, h4, h5 {
    color: theme-color('blue');
    font-weight: 700;
    font-family: $font-heading;
    & span.italic {
        font-style: italic;
        font-weight: 700 !important;
        display: contents;
    }
}
body { 
    font-family: $font-primary;
    color: #000;
    font-size: 16px;
    background-color: theme-color('gray');
    a { 
        color: #000; 
        &:hover { 
            color: theme-color('blue');
            text-decoration: none;
        } 
    }
}
img {
    max-width: 100%;
}
.btn {
    position: relative;
    font-family: $font-primary;
    font-size: 18px;
    line-height: auto;
    padding: 5px 50px 5px 15px;
    text-align: center;
    background-color: transparent;
    color: theme-color('turquoise');
    transition: $transition;
    border-radius: 50px;
    border: solid 2px theme-color('turquoise');
    margin: 15px 0px;
    white-space: nowrap;
    &::after {
        content: '>';
        position: absolute;
        right: 15px;
        color: theme-color('turquoise');
        transition: $transition;
    }
    &:hover {
        color: #fff;
        border-color: #fff;
        &::after {
            right: 12px;
            color: #fff;
        }
    }
}
.btn-blue {
    position: relative;
    font-family: $font-primary;
    font-size: 18px;
    line-height: auto;
    padding: 5px 50px 5px 15px;
    text-align: center;
    background-color: transparent;
    color: theme-color('blue');
    transition: all .2s linear;
    border-radius: 50px;
    border: solid 2px theme-color('blue');
    margin: 15px 0px;
    white-space: nowrap;
    &::after {
        content: '>';
        position: absolute;
        right: 15px;
        top: 3px;
        color: theme-color('blue');
        transition: $transition;
    }
    &:hover {
        color: theme-color('turquoise');
        border-color: theme-color('turquoise');
        &::after {
            right: 12px;
            color: theme-color('turquoise');
        }
    }
}
section {
    margin: 2rem 0rem;
}
main {
    overflow: hidden;
    &.home-page {
        section {
            margin: 5rem 0rem;
        }
    }
}
header {
    #main-header {
        justify-content: space-between;
        margin-bottom: 50px;
        border-bottom: solid 1px #fff;
        #header-logo {
            padding: 15px 0px;
            max-width: 300px;
            margin-left: 0px;
            width: 100%;
            padding-right: 10px;
        }
        .main-nav-wrap {
            display: flex;
            height: 100%;
            margin-right: 0px;
            #primary-nav {
                align-self: flex-end;
                margin-bottom: 10px;
                li {
                    margin-right: 20px;
                    a {
                        color: #fff;
                        font-family: $nav-font;
                        font-weight: 300;
                        font-size: 20px;
                        &:hover {
                            color: theme-color('turquoise');
                        }
                    }
                }
                li:last-child {
                    margin-right: 0px;
                }
                .sub-menu {
                    position: absolute;
                    list-style: none;
                    padding-left: 0;
                    background-color: #fff;
                    padding: 5px 10px;
                    top: 149px;
                    border-left: solid 3px theme-color('turquoise');
                    z-index: 100;
                    text-align: left;
                    a {
                        color: theme-color('gray');
                        &:hover {
                            color: theme-color('turquoise');
                        }
                    }
                }
            }
        }
        #mobile-nav-icon {
            width: 45px;
            margin-top: 47px;
        }
    }
    &#home-banner {
        background-image: url("/img/8261-HomePg-Banner-Large-Fade.png");
        width: 100%;
        z-index: 1;
        background-color: theme-color('gray');
        background-position: top;
        background-size: cover;
        overflow: hidden;
        #home-banner-txt {
            text-align: center;
            padding-top: 100px;
            padding-bottom: 100px;
            h1 {
                color: theme-color('turquoise');
                margin-bottom: 50px;
                font-weight: 400;
            }
            #home-banner-btns {
                & div:first-child {
                    text-align: center;
                }
                & div:last-child {
                    text-align: center;
                }
            }
        }
        #home-intro-txt {
            #intro-txt-img {
                background-image: url('/img/8261-Intro-HomePg-Square.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .home-txt-wrap {
                padding: 55px;
                background-color: #fff;
                h2 {
                    margin-bottom: 15px;
                }
                p {
                    padding-bottom: 15px;
                }
            }
        }
    }
}
.header-img {
    background-size: cover;
    height: 185px;
    background-repeat: no-repeat;
    background-position: center;
    &#about-header {
        background-image: url('/img/8261-About-Page-header.png');
    }
    &#resource-header {
        background-image: url('/img/8261-Resources-Page-header.png');
    }
    &#contact-header {
        background-image: url('/img/8261-Contact-Us-Page-header.png');
    }
    &#fixed-header {
        background-image: url('/img/8261-Fixed-Page-header.png');
    }
    &#implants-header {
        background-image: url('/img/8261-Implants-Page-header.png');
    }
    &#services-header {
        background-image: url('/img/8261-Services-Page-header.jpg');
    }
    &#sendcase-header {
        background-image: url('/img/8261-Send-a-case-Page-header.jpg');
    }
    &#trios-header {
        background-image: url('/img/8261-Trios-Loaner-Page-header.png');
    }
    &#digital-header {
        background-image: url('/img/8261-Digital-Dentistry-Page-header.png');
    }
}
#page-wrap {
    background-color: #fff;
    .intro-txt {
        text-align: center;
        h1, h2, h3, p {
            margin-bottom: 2rem;
        }
        hr {
            border-top: solid 2px theme-color('turquoise');
            margin-bottom: 2rem;
            opacity: 0.4;
        }
    }
    .intro-txt-prod {
        h1, h2, h3, p {
            margin-bottom: 2rem;
        }
        hr {
            border-top: solid 2px theme-color('turquoise');
            margin-bottom: 2rem;
            opacity: 0.4;
        }
    }
    section {
        padding: 0 2.5rem 2rem 2.5rem;
    }
}
#prod-listing {
    .prod-list-row {
        display: block;
        justify-content: space-between;
        margin: 0px -5px 0px -10px;
        .thumb-wrap {
            position: relative;
            margin: 3rem 0rem 3rem 0rem;
            .prod-thumb {
                background-color: #fff;
                text-align: center;
                margin: auto;
                max-width: 267px;
                .prod-img {
                    overflow: hidden;
                    position: relative;
                    img {
                        margin-top: -25px;
                    }
                    .prod-ovrly {
                        position: absolute;
                        background: rgba(74,79,84,0.3);
                        top: 0;
                        bottom: 35px;
                        right: 0;
                        left: 0;
                        background-image: url('/img/8261-info-Icon.png');
                        background-size: 50px;
                        background-position: center;
                        background-repeat: no-repeat;
                        opacity: 0;
                        transition: $transition;
                    }
                }
                .prod-title {
                    padding-bottom: 10px;
                    margin-top: -35px;
                    padding-top: 10px;
                    border-top: solid 1px rgba(74,79,84,0.2);
                    h4 {
                        margin-bottom: 0;
                    }
                }
                &::before {
                    content: "";
                    height: 100%;
                    width: 95%;
                    border: solid 5px #0069A7;
                    position: absolute;
                    left: -5px;
                    bottom: -20px;
                    z-index: -1;
                    display: none;
                }
                &:hover {
                    .prod-ovrly {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
#accordion {
    h3 {
        margin-bottom: 5px !important;
        font-size: 1.3rem;
        color: theme-color('turquoise');
        padding-left: 0px;
    }
    .ui-accordion-header {
        border-top: solid 2px;
        border-bottom: solid 2px;
        border-right: 0px;
        border-left: 0px;
        border-radius: 0px;
        border-color: theme-color('turquoise');
        background-color: transparent;
    }
    .ui-state-active {
        border: 2px solid theme-color('blue') !important;
        border-left: 0px !important;
        border-right: 0px !important;
        border-radius: 0px !important;
        background-color: transparent !important;
        color: theme-color('blue') !important;
    }
}
.title-line {
    text-align: center;
    h2 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: theme-color('turquoise');
        font-weight: 400;
    }
    h2:before,
    h2:after {
        content: '';
        border-top: 2px solid theme-color('turquoise');
        margin: 0 20px 0 0;
        flex: 1 0 20px;
    }

    h2:after {
        margin: 0 0 0 20px;
    }
}
.home-products-cta {
    display: flex;
    .cta-wrap-r {
        align-self: center;
        padding: 25px 0px 0px 25px;
        h3 {
            color: theme-color('turquoise');
        }
        p {
            color: #fff;
        }
    }
    .cta-wrap-l {
        padding: 25px 25px 0px 0px;
        align-self: center;
        h3 {
            color: theme-color('turquoise');
        }
        p {
            color: #fff;
        }
    }
}
#home-digital-cta {
    .container {
        background-color: theme-color('turquoise');
        text-align: center;
        padding: 15px 50px;
        .row {
            border: solid 1px #fff;
            padding-top: 25px;
            padding-bottom: 25px;
            img, h3 {
                margin-bottom: 15px;
            }
            p {
                padding-top: 10px;
            }
            .btn-blue {
                &:hover {
                    color: #fff;
                    border-color: #fff;
                }
            }
            & div:nth-child(1) {
                border-right: solid 1px theme-color('blue'); 
            }
            & div:nth-child(2) {
                border-left: solid 1px theme-color('blue'); 
            }
        }
    }
}
.resource-btn {
    height: 450px;
    position: relative;
    text-align: center;
    background-color: theme-color('orange');
    box-shadow: -1px 0px 5px 3px rgba(100, 100, 100, 0.5);
    overflow: hidden;
    margin-bottom: 60px;
    a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .res-bkgd-wrap {
        height: 255px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        .res-bkgd {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all .2s linear;
            transform: scale(1);
            &.res-rx {
                background-image: url('/img/Rx-Form-Resource-PDF-IMG_template.png');
            }
            &.res-specs {
                background-image: url('/img/8261-Torque-Resource-Thumb.png');
            }
            &.res-truAbut {
                background-image: url('/img/8261-TruAbutment-Torque-Resource-Thumb.png');
            }
            &.res-cement {
                background-image: url('/img/Cementation-Guide-Resource-PDF-IMG_template.png');
            }
            &.res-code {
                background-image: url('/img/ADA-Code-Product-Breakdown-List-Guide-Resource-PDF-IMG_template.png');
            }
            &.res-di {
                background-image: url('/img/DI-Impression-Guide-Resource-PDF-IMG_template.png');
            }
            &.res-general {
                background-image: url('/img/Basic-Download-Resource-PDF-IMG.png');
            }
        }
    }
    &:hover .res-bkgd {
        transform: scale(1.1);
    }
    h4 {
        position: absolute;
        top: 270px;
        font-family: $font-primary;
        font-weight: 600;
        font-size: 1.7rem;
        margin: auto;
        left: 15px;
        right: 15px;
        z-index: 2;
    }
    hr {
        position: absolute;
        top: 345px;
        margin: auto;
        left: 15px;
        right: 15px;
        z-index: 2;
    }
    .btn-blue {
        position: absolute;
        top: 370px;
        margin: auto;
        left: 25px;
        right: 25px;
        z-index: 2;
    }
}
#new-doc-steps {
    #step-nums {
        justify-content: space-around;
        margin: auto;
        .step-num {
            position: relative;
            height: 100px;
            width: 100px;
            img {
                position: absolute;
                margin: auto;
            }
            & img:nth-child(2) {
                display: block;
            }
            & img:nth-child(1) { display: none; }
            &.active {
                & img:nth-child(2) { display: none; }
                & img:nth-child(1) { display: block; }
            }
        }
    }
}
#step-wraps {
    text-align: center;
    .container {
        padding: 35px 25px;
        border: solid 2px theme-color('turquoise');
        .step-wrap {
            display: none;
            h2 { margin-bottom: 25px; }
            h3, p { margin-bottom: 15px; }
            &.active { display: block; }
            span.btn-blue:hover {
                cursor: pointer;
            }
        }
    }
}
button:hover {
    cursor: pointer;
}
footer {
    font-size: 14px;
    padding-top: 50px;
    background-color: #fff;
    margin-top: 5rem;
    .foot-underline {
        height: 3px;
        width: 40px;
        background-color: theme-color('turquoise');
        margin: 10px 0;
    }
    ul {
        padding: 0;
        list-style: none;
        
    }
    .foot-border {
        height: 2px;
        width: 100%;
        margin-top: 25px;
        background-color: theme-color('turquoise'); 
    }
}
#copyright {
    padding: 15px 0px;
    background-color: #fff;
    span { font-size: 14px }
}
#mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0vh;
    background-color: theme-color('gray');
    overflow: hidden;
    z-index: 10001;
    transition: all .4s linear;
    &.open {
        height: 100vh;
    }
    #close-mobile {
        text-align: right;
        margin-right: 15px;
        margin-top: 15px;
        color: #fff;
        font-size: 25px;
        &:hover {
            cursor: pointer;
        }
    }
    ul {
        text-align: center;
        text-align: center;
        a {
            color: #fff;
            font-size: 20px;
            &:hover {
                color: theme-color('turquoise');
            }
        }
        .sub-menu {
            list-style: outside none none;
            text-align: center;
            padding-left: 0;
            margin: 10px 20px;
            border-top: solid 2px theme-color('turquoise');
            border-bottom: solid 2px theme-color('turquoise');
            a {
                font-size: 16px;
            }
        }
    }
}
#hamIcon {
    &:hover {
        cursor: pointer;
    }
}
/* Forms */
#formContainer {
    input {
        width: 100%;
        margin: 4px 0px;
        padding: 5px 5px;
        border: solid 1px #000;
    }
    .submit {
        font-weight: bold;
        font-size: 1.2rem;
        border: none;
        background: transparent;
        padding: 0px;
        margin: 0px;
    }
    .state {
        margin: 5px 0px;
        height: 34px;
        width: 100%;
        min-width: 65px
    }
     .message {
        width: 100%;
        margin: 4px 0px;
        height: 150px;
        border: solid 1px theme-color('dk-gray');
        padding: 5px;
    }   
}
.form-control {
    margin: 4px 0px;
    padding: 5px 5px;
    border: solid 1px #000;
    border-radius: 0px;
    font-family: inherit;
    font-size: inherit;
}
.responseMessage {
    background-color: #fff;
    margin: 5px 0px;
    padding: 15px;
    color: green;
    display: none;
    text-align: center;
}
#contact-form {
    .btn-blue {
        float: left;
        &:hover {
            background: transparent;
            cursor: pointer;
        }
    }
}
/* Case Schedular */
#caseCal-Form {

}
.cal_key {
    float: left;
    width: auto;
    margin-left: 25px;
}
.result-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 15px;
}
#cal-result-column {
   grid-column: span 3; 
}
#case-calendar-wrap {
    float:left;
    padding-bottom:25px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr);
}
.scb-shipping-day{
    background: #A9D1FE;
}
.scb-processing-day{
    background: #C0FEBA;
}
.scb-in-lab-processing-day{
    background: #d7d8a2;
}
.scb-estimated-delivery-day{
    background: #FE9794;
}
.scb-calendar-results {
    width: 300px;
    display: none;
    background: #bbb;
    padding: 10px;
}
.scb-calender-month {
    background: #798b90 none repeat scroll 0 0;
    color: #fff;
    text-align: center;
    border-top: 1px solid #000;
}
.scb-calender-head {
    background: gray none repeat scroll 0 0;
    color: #000;
}
.scb-calender th,
.scb-calender td{
    padding: 6px 10px;
    border: none;	
}
.scb-calender {
    background: #ccc none repeat scroll 0 0;
    border-bottom: 1px solid #000;
}
.scb-holiday-day{
    background: #fcd17d none repeat scroll 0 0;   
}
#ui-datepicker-div{
    z-index: 99999999 !important;
}
.scb-form-container {
    height: 600px;
    overflow-x: hidden;
}
.cal_table {
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 250px;
    margin: auto;
    float: left;
}
/* Case Calendar */
.cal_table th{
    border: none;
}
.month_bkdg {
    background-color:#798B90;
    color:#fff;
    text-align: center;
    font-size: 20px;
    padding: 5px 0px;
}
.dayNames{
    background-color:#808080;
    color:#fff; 
    text-align: center;
}
.dayNames th{ 
    font-size: 18px;
    padding: 5px 3px;
    min-width: 43px;
}
.ship_day{
    background-color:#d7d8a2;
    text-align: center;
}
.pre_proc_day {
    background-color:#fe9794;
    text-align: center;
}
.proc_day {
    background-color:#A9D1FE;
    text-align: center;
}
.holiday {
    background-color:#fcd17d;
    text-align: center;
}
.delivery_day {
    background-color:#fe9794;
    text-align: center;
}
.deliv_day {
    background-color:#C0FEBA;
    text-align: center;
}
.norm_day{
   background-color: #CCCCCC; 
   text-align: center;
}
.cal-kay {
    padding-top:5px;
    max-width:220px;
    padding-top: 10px;
    margin-left: 25px;
}
.ui-datepicker table {
    background-color: #fff; 
}
/* Loader Animation */
.loader {
 display:none
}
.loader,.loader:after,.loader:before {
 border-radius:50%;
 width:2.5em;
 height:2.5em;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation:load7 1.8s infinite ease-in-out;
 animation:load7 1.8s infinite ease-in-out
}
.loader {
 font-size:10px;
 margin:80px auto;
 position:relative;
 text-indent:-9999em;
 -webkit-transform:translateZ(0);
 transform:translateZ(0);
 -webkit-animation-delay:-.16s;
 animation-delay:-.16s
}
.loader:after,.loader:before {
 content:"";
 position:absolute;
 top:0
}
.loader:before {
 left:-3.5em;
 -webkit-animation-delay:-.32s;
 animation-delay:-.32s
}
.loader:after {
 left:3.5em
}
@-webkit-keyframes load7 {
 0%,80%,to {
  -webkit-box-shadow:0 2.5em 0 -1.3em;
  box-shadow:0 2.5em 0 -1.3em
 }
 40% {
  -webkit-box-shadow:0 2.5em 0 0;
  box-shadow:0 2.5em 0 0
 }
}
@keyframes load7 {
 0%,80%,to {
  -webkit-box-shadow:0 2.5em 0 -1.3em;
  box-shadow:0 2.5em 0 -1.3em
 }
 40% {
  -webkit-box-shadow:0 2.5em 0 0;
  box-shadow:0 2.5em 0 0
 }
}
/* Swiper */
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: theme-color('blue');
    opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: theme-color('blue');
}
/* JQuery UI / Accordian*/
.ui-widget-header .ui-icon {
    background-image: url("/img/ui-icons_454545_256x240.png") !important;
}
.ui-state-default {
    color: theme-color('blue');
}
.ui-state-active {
    border: 1px solid theme-color('blue') !important;
    background: theme-color('blue') !important;
}
.ui-state-default {
    background-color: #fff;
}
.ui-widget-content {
    border-left: 2px solid theme-color('blue') !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background: transparent !important;
    color: #000 !important;
    margin-top: 10px !important;
    border-radius: 0px !important;
    margin-bottom: 15px !important;
    p {
        margin-bottom: 5px !important;
    }
}
.ui-icon {
    background-image: url("/img/Plus-Sign-Icon.png") !important;
    background-size: 16px !important;
    background-position: center !important;
}
.ui-state-active .ui-icon {
    background-image: url("/img/Minus-Icon.png") !important;
    background-size: 16px !important;
    background-position: center !important;
}
//.ui-icon, .ui-widget-content .ui-icon {
//    background-position: -16px -128px !important;
//}
//.ui-state-active .ui-icon {
//   background-position: -48px -128px !important; 
//}


.modal {
    overflow: visible;
}
.modal a.close-modal {
    background-image: url('/img/modal-close.png') !important;
}
@media (min-width: 576px){
   header {
     #main-header {
        #header-logo {
            margin-left: -15px;
         }
       }
    }
    header {
        #main-header {
            .main-nav-wrap {
                margin-left: -15px;
            }
        }
    }
}
@media (min-width: 768px) {
    header {
        &#home-banner {
            #home-banner-txt {
                #home-banner-btns {
                    & div:first-child {
                        text-align: right;
                    }
                    & div:last-child {
                        text-align: left;
                    }
                }
            }
        }
    }
    #prod-listing {
        .prod-list-row {
            display: flex;
            .thumb-wrap {
                margin: 2rem 0rem 2rem 0rem;
                .prod-thumb {
                    max-width: 175px;
                    margin: -10px -10px 10px 25px;
                    h4 {
                        font-size: 1.1rem;
                    }
                    &::before {
                        display: block;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    #prod-listing {
        .prod-list-row {
            .thumb-wrap {
                margin: 3rem 0rem 3rem 0rem;
                .prod-thumb {
                    max-width: 267px;
                    h4 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    #prod-listing {
        .prod-list-row {
            .thumb-wrap {
                .prod-thumb {
                    max-width: 325px; 
                }
            }
        }
    }
}